@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@keyframes spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  --font-outfit: 'Outfit', Arial, sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0.125rem 1rem hsl(220, 15%, 55%, 25%);
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

section {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font: 700 1.4rem var(--font-outfit);
  color: var(--color-dark-blue);
  text-align: center;
}

p {
  font: 400 1rem var(--font-outfit);
  color: var(--color-grayish-blue);
  text-align: center;
}

.alert {
  position: absolute;
  width: 15rem;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: hsl(218, 44%, 22%);
  padding: 0.25rem 0.5rem;
  font: 400 1.25rem var(--font-outfit);
  text-align: center;
  color: var(--color-white);
  border-radius: 0.25rem;
  opacity: 0;
  transition-duration: 0.5s;
}

a:hover ~ .alert {
  opacity: 1;
}
